# Project: Exploring Hacker News Posts

*The project explores the dataset from the Kaggle competition: hacker News Posts, to run exploratory analysis on which posts recieve more comments and to see if posts created at a certain time recieve more comments*

*For this analysis, I will 2 different kinds of posts on Hacker News, a popular site where technology related stories (or 'posts') are voted and commented upon. The two types of posts I'll explore begin with either Ask HN or Show HN.*

*Quick context here - Users submit Ask HN posts to ask the Hacker News community a specific question, such as "Which is the best online course for python?". Similarly, users submit Show HN posts to show the Hacker News community a project, product, or just generally something interesting.*

*I'll specifically compare these two types of posts to determine the following:*

* Do Ask HN or Show HN receive more comments on average?

* Do posts created at a certain time receive more comments on average?

*Like any data science project, we begin by reading the dataset*

In [2]:
from csv import reader 
file = open('hacker_news.csv')
hn1 = reader(file)
hn = list(hn1)

In [3]:
hn[:6]

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at'],
 ['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

In [4]:
headers = hn[0]
hn = hn[1:]

In [5]:
print(headers)

['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']

In [6]:
print(hn[:6])

[['12224879', 'Interactive Dynamic Video', 'http://www.interactivedynamicvideo.com/', '386', '52', 'ne0phyte', '8/4/2016 11:52'], ['10975351', 'How to Use Open Source and Shut the Fuck Up at the Same Time', 'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/', '39', '10', 'josep2', '1/26/2016 19:30'], ['11964716', "Florida DJs May Face Felony for April Fools' Water Joke", 'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/', '2', '1', 'vezycash', '6/23/2016 22:20'], ['11919867', 'Technology ventures: From Idea to Enterprise', 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429', '3', '1', 'hswarna', '6/17/2016 0:01'], ['10301696', 'Note by Note: The Making of Steinway L1037 (2007)', 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0', '8', '2', 'walterbell', '9/30/2015 4:12'], ['10482257', 'Title II kills investment? Comcast and other ISPs are now spending more', 'http://arstechnica.com/business/2015/10/comcast-and-other-isps-boost-network-investment-despite-net-neutrality/', '53', '22', 'Deinos', '10/31/2015 9:48']]

In [7]:
ask_posts = []
show_posts = []
other_posts = []

In [8]:
for row in hn:
    title = row[1]
    if title.lower().startswith('ask hn'):
        ask_posts.append(row)
    elif title.lower().startswith('show hn'):
        show_posts.append(row)
    else:
        other_posts.append(row)

In [9]:

print('The number of ask hn posts are ', len(ask_posts))
print('The number of show hn posts are ',len(show_posts))
print('The number of other posts are ', len(other_posts))

The number of ask hn posts are  1744
The number of show hn posts are  1162
The number of other posts are  17194

In [10]:
#Now let us have a look at the comments across the ask hn and show hn posts

#Creating a function to calculate the total and average number of posts 

def totandavg(templist): # will return the total number and mean number of comments
    temp_total = 0
    temp_count = 0
    for row in templist:
        num_comments = row[4]
        num_comments = int(num_comments)
        temp_total += num_comments
        temp_count += 1
        
    temp_mean = temp_total/temp_count
    
    return temp_total, temp_mean

total_ask_comments, avg_ask_comments = totandavg(ask_posts)

print('The average number of Ask HN comments are ',round(avg_ask_comments, 2))

total_show_comments, avg_show_comments = totandavg(show_posts)
print('The average numnber of Show HN comments are ', round(avg_show_comments, 2))

The average number of Ask HN comments are  14.04
The average numnber of Show HN comments are  10.32

In [11]:
import datetime as dt 
result_list = []

for row in ask_posts:
    temp = []
    temp.append(row[6])
    num_comments = int(row[4])
    temp.append(num_comments)
    result_list.append(temp)

In [12]:
counts_by_hour = {}
comments_by_hour = {}

In [13]:
comments_by_hour = {}
counts_by_hour = {}
date_format = "%m/%d/%Y %H:%M"

for each_row in result_list:
    dt_created = each_row[0]
    num_comment = each_row[1]
    time = dt.datetime.strptime(dt_created, date_format).strftime("%H")
    if time in counts_by_hour:
        comments_by_hour[time] += num_comment
        counts_by_hour[time] += 1
    else:
        comments_by_hour[time] = num_comment
        counts_by_hour[time] = 1

print("Hourly comments number : ", comments_by_hour)
print("\n")
print("Hourly counted number :", counts_by_hour)

Hourly comments number :  {'09': 251, '13': 1253, '10': 793, '14': 1416, '16': 1814, '23': 543, '12': 687, '17': 1146, '15': 4477, '21': 1745, '20': 1722, '02': 1381, '18': 1439, '03': 421, '05': 464, '19': 1188, '01': 683, '22': 479, '08': 492, '04': 337, '00': 447, '06': 397, '07': 267, '11': 641}


Hourly counted number : {'09': 45, '13': 85, '10': 59, '14': 107, '16': 108, '23': 68, '12': 73, '17': 100, '15': 116, '21': 109, '20': 80, '02': 58, '18': 109, '03': 54, '05': 46, '19': 110, '01': 60, '22': 71, '08': 48, '04': 47, '00': 55, '06': 44, '07': 34, '11': 58}

In [17]:
avg_by_hour = []

for comment in comments_by_hour:
    avg_by_hour.append([comment, comments_by_hour[comment] / counts_by_hour[comment]])

In [18]:
print(avg_by_hour)

[['09', 5.5777777777777775], ['13', 14.741176470588234], ['10', 13.440677966101696], ['14', 13.233644859813085], ['16', 16.796296296296298], ['23', 7.985294117647059], ['12', 9.41095890410959], ['17', 11.46], ['15', 38.5948275862069], ['21', 16.009174311926607], ['20', 21.525], ['02', 23.810344827586206], ['18', 13.20183486238532], ['03', 7.796296296296297], ['05', 10.08695652173913], ['19', 10.8], ['01', 11.383333333333333], ['22', 6.746478873239437], ['08', 10.25], ['04', 7.170212765957447], ['00', 8.127272727272727], ['06', 9.022727272727273], ['07', 7.852941176470588], ['11', 11.051724137931034]]

In [19]:
swap_avg_by_hour = []

for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
print(swap_avg_by_hour)

[[5.5777777777777775, '09'], [14.741176470588234, '13'], [13.440677966101696, '10'], [13.233644859813085, '14'], [16.796296296296298, '16'], [7.985294117647059, '23'], [9.41095890410959, '12'], [11.46, '17'], [38.5948275862069, '15'], [16.009174311926607, '21'], [21.525, '20'], [23.810344827586206, '02'], [13.20183486238532, '18'], [7.796296296296297, '03'], [10.08695652173913, '05'], [10.8, '19'], [11.383333333333333, '01'], [6.746478873239437, '22'], [10.25, '08'], [7.170212765957447, '04'], [8.127272727272727, '00'], [9.022727272727273, '06'], [7.852941176470588, '07'], [11.051724137931034, '11']]

In [20]:
sorted_swap = sorted(swap_avg_by_hour, reverse = True)

In [23]:
print("Top 5 Hours for Ask Posts Comments: ", sorted_swap[:5])

Top 5 Hours for Ask Posts Comments:  [[38.5948275862069, '15'], [23.810344827586206, '02'], [21.525, '20'], [16.796296296296298, '16'], [16.009174311926607, '21']]

In [24]:
for avg, hr in sorted_swap[:5]:
    print("{}:{:.2f}".format(
        dt.datetime.strptime(hr, "%H").strftime("%H:%M"), avg))

15:00:38.59
02:00:23.81
20:00:21.52
16:00:16.80
21:00:16.01

*Based on the dataset documentation, the timezone used is the eastern time in the US, 15:00 will be equivalent to 3:00 pm est. The top 5 hours for most comments on Ask Posts are 15:00, 02:00, 20.00, 16:00 and 21.00. The hour that receives the most comments on average is 15:00 with thirty nine comments per post.*